header {
  background-color: tan;
}

a {
  color: brown;
}
.active {
  color: green;
}

.user-message {
  margin: auto;
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #4771fa;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
}